{% extends "header/wardAdmin_header.html" %}
{% load static %}

{% block title %}
PU Agent Management
{% endblock %} 

{% block content %}



{% comment %} <!DOCTYPE html>
<html lang="en">

<head>
    <title>ACG | Dashboard</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/vendor/font-awesome/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/3d02cf7ada.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/vendor/animate-css/vivify.min.css" />
    <link rel="stylesheet" href="../assets/vendor/c3/c3.min.css" />
    <link rel="stylesheet" href="../assets/vendor/chartist/css/chartist.min.css" />
    <link rel="stylesheet" href="../assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css" />

    <!-- <link rel="stylesheet" href="../assets/css/site.min.css" /> -->
    <link rel="stylesheet" href="../light/assets/css/site.min.css" />
    <link rel="stylesheet" href="../Dashboard-ward/CSS/dashboard.css" />
    <link rel="stylesheet" href="../Dashboard-ward/CSS/members.css" />
    <!-- <link rel="stylesheet" href="../light/assets/css/dashboard.css" /> -->
    <!-- <link rel="stylesheet" href="assets/css/dashboard.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head> {% endcomment %}


    <div class="overlay"></div>
    <div id="wrapper">

        <input type="checkbox" name="check" id="check">
        <label for="check">
            <i class="fa-solid fa-circle-chevron-right open-icon" id="open-icon"></i>
            <i class="fa-solid fa-circle-chevron-left close-icon" id="close-icon"></i>
        </label>

        <div class="overlay1"></div>
        <nav class="navbar navbar-fixed-top position-fixed top-0 px-2">
            <div class="container-fluid">
                <div class="navbar-left">
                    <div class="navbar-brand">
                        <a class="small_menu_btn" href="javascript:void(0);"><img style="width: 30px"
                                src="../light/image/logo-removebg-preview.png" alt="Logo" /></a>
                        <a href="index.html"><span><img style="width: 50px" src="./image/ACG-removebg-preview(1).png"
                                    alt="" /></span></a>
                    </div>
                    <form id="navbar-search" class="navbar-form search-form">
                        <input value class="form-control" placeholder="Search here..." type="text" />
                        <button type="button" class="btn btn-default">
                            <i class="icon-magnifier"></i>
                        </button>
                    </form>
                </div>
                <div class="navbar-right">
                    <div id="navbar-menu">
                        <ul class="nav navbar-nav d-flex flex-row align-items-center">
                            
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                    <i class="fa fa-envelope"></i>
                                    <span class="notification-dot bg-green"></span>
                                </a>
                                <ul class="dropdown-menu right_chat email vivify fadeIn position-absolute">
                                    <li class="header">You have 4 New eMail</li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="media">
                                                <div class="avtar-pic w35 lbg-indigo">
                                                    <span>FC</span>
                                                </div>
                                                <div class="media-body">
                                                    <span class="name">Folisise Chosielie
                                                        <small class="float-right">12min ago</small></span>
                                                    <span class="message">New Messages</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="media">
                                                <img class="media-object" src="../assets/images/xs/avatar5.jpg" alt />
                                                <div class="media-body">
                                                    <span class="name">Louis Henry
                                                        <small class="float-right">38min ago</small></span>
                                                    <span class="message">Integer ante arcu, accumsan a, consectetuer
                                                        eget,
                                                        posuere ut, mauris.</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="media">
                                                <div class="avtar-pic w35 lbg-red">
                                                    <span>FC</span>
                                                </div>
                                                <div class="media-body">
                                                    <span class="name">James Wert
                                                        <small class="float-right">Just now</small></span>
                                                    <span class="message">It is a long established fact that a reader
                                                        will
                                                        be distracted</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="media">
                                                <div class="avtar-pic w35 lbg-green">
                                                    <span>FC</span>
                                                </div>
                                                <div class="media-body">
                                                    <span class="name">James Wert
                                                        <small class="float-right">Just now</small></span>
                                                    <span class="message">The point of using Lorem Ipsum is that it has
                                                        a
                                                        more</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="media mb-0">
                                                <img class="media-object" src="../assets/images/xs/avatar2.jpg" alt />
                                                <div class="media-body">
                                                    <span class="name">Debra Stewart
                                                        <small class="float-right">2hr ago</small></span>
                                                    <span class="message">Nullam vel sem. Nullam vel sem.</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                    <i class="fa fa-bell"></i>
                                    <span class="notification-dot bg-azura"></span>
                                </a>
                                <ul class="dropdown-menu feeds_widget vivify fadeIn position-absolute">
                                    <li class="header">You have 4 New Notifications</li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="feeds-left lbg-red">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <div class="feeds-body">
                                                <h4 class="title text-danger">
                                                    Issue Fixed
                                                    <small class="float-right text-muted">9:10 AM</small>
                                                </h4>
                                                <small>WE have fix all Design bug with Responsive</small>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="feeds-left lbg-info">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <div class="feeds-body">
                                                <h4 class="title text-info">
                                                    New User
                                                    <small class="float-right text-muted">9:15 AM</small>
                                                </h4>
                                                <small>I feel great! Thanks team</small>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="feeds-left lbg-orange">
                                                <i class="fa fa-question-circle"></i>
                                            </div>
                                            <div class="feeds-body">
                                                <h4 class="title text-warning">
                                                    Server Warning
                                                    <small class="float-right text-muted">9:17 AM</small>
                                                </h4>
                                                <small>Your connection is not private</small>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="feeds-left lbg-green">
                                                <i class="fa fa-thumbs-o-up"></i>
                                            </div>
                                            <div class="feeds-body">
                                                <h4 class="title text-success">
                                                    2 New Feedback
                                                    <small class="float-right text-muted">9:22 AM</small>
                                                </h4>
                                                <small>It will give a smart finishing to your site</small>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- Profile Image with Dropdown -->
                            <div class="dropdown profile-sec">
                                <div class="d-flex align-items-center cursor-pointer" id="profileDropdown"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="https://res.cloudinary.com/du2rjnoya/image/upload/v1701288342/OTS-cohort-13/blackman3_bhn1a5.jpg"
                                        alt="Profile" class="rounded-circle profile-image">
                                    <i class="fa fa-chevron-down ms-1 text-secondary small"></i>
                                </div>

                                <ul class="dropdown-menu dropdown-menu-end position-absolute"
                                    aria-labelledby="profileDropdown">
                                    <li>
                                        <h3 class="dropdown-header fs-5 fw-bold text-success">Username</h3>
                                        <p class="dropdown-header text-secondary">Common@gmail.com</p>
                                    </li>
                                    <li><a class="dropdown-item" href="#">My Account</a></li>
                                    <li><a class="dropdown-item" href="#">Change Password</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li class="text-danger log-out">
                                        <a href="page-login.html" class="icon-menu dropdown-item text-danger"> <span
                                                class="me-2"><i class="fa fa-power-off"></i></span>Logout</a>
                                    </li>
                                </ul>
                            </div>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div id="left-sidebar" class="sidebar left-sidebar py-4">

            <div class="sidebar_list">
                <div class="tab-content" id="main-menu">
                    <div class="tab-pane active" id="Home-icon">
                        <nav class="sidebar-nav sidebar-scroll">
                            <ul class="metismenu">

                                <li class="">
                                    <a href="{% url 'ward_admin' user_hash=expected_hash %}"><i class="icon-speedometer"></i><span>Dashboard</span></a>
                                </li>
                                <li class="header mt-1"></li>

                                <li class="">
                                    <a href="{% url 'mem_manage' user_hash=expected_hash %}" class="d-flex align-items-center">
                                        <i class="fa-regular fa-user"></i>
                                        <span>Member Management</span>
                                    </a>
                                </li>

                                <li class="active">
                                    <a href="{% url 'pu_agent' user_hash=expected_hash %}">
                                        <i class="fa-regular fa-circle-user"></i>
                                        <span>PU Agents Management</span>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="{% url 'pu_manage' user_hash=expected_hash %}">
                                        <i class="fa-regular fa-map"></i>
                                        <span>PU Management</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="profile.html">
                                        <i class="icon-user"></i>
                                        <span>Profile</span>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="page-profile.html">
                                        <i class="icon-user"></i>
                                        <span>Profile</span></a>
                                </li> -->
                                <li>
                                    <a href="ireport.html">
                                        <i class="icon-user"></i>
                                        <span>iReport</span></a>
                                </li>

                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>

        <div id="main-content" class="main-container">

            <!-- PAGE DESCRIPTION HEADER SECTION -->
            <div class=" block-header py-4 ">
                <div class="row clearfix d-flex justify-content-between mt-3">
                    <div class="col mb-3">
                        <h1 class="text-sm-nowrap fw-bold">Polling Unit Agents Management</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-3">
                                <li class="breadcrumb-item">
                                    <a href="#"><i class="fa fa-cube" aria-hidden="true"></i></a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    PU Agents Management
                                </li>
                            </ol>
                        </nav>
                    </div>

                    <div class="text-left mt-0 mt-sm-0 col-sm-auto">
                        <p class="mb-0">
                            <span>Role:</span>
                            <span
                                class="badge rounded-pill fw-medium bg-success-subtle text-dark p-2 border-0 me-0">Ward
                                Coordinator</span>
                        </p>
                    </div>
                </div>
            </div>


            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                    <!-- <div class="d-flex add-new-member-sec"> -->
                    <p class="mb-0 text-nowrap ">Add New PU Agent</p>
                    <button class="add-member-btn text-nowrap" data-bs-toggle="modal"
                        data-bs-target="#addAgentModal">Add New Agent</button>


                </div>

                <!-- Pending PU Agent Applicant List Table Section -->
                <div class="row clearfix mt-3">
                    <div class="col-12 col-sm-12">
                        <div class="card">
                            <div class="header d-flex justify-content-between align-items-center gap-3 flex-wrap">
                                <h2 class="fw-bold text-nowrap">Pending Applicants</h2>
                                <span class="d-flex flex-nowrap gap-1 align-items-center">
                                    <span>Total:</span>
                                    <strong class="border px-3 py-1">1</strong>
                                </span>
                                <form id="table-searchbar" class="navbar-form search-form d-flex">
                                    <input value class="form-control" placeholder="Search name..." type="text" />
                                    <button type="button" class="btn btn-default search-btn">
                                        <i class="icon-magnifier"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="table-responsive table1">

                                <table class="table table-custom spacing5 mb-0 px-3">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>ID No</th>
                                            <th>Full Name</th>
                                            <th>Email Address</th>
                                            <th>Gender</th>
                                            <th>Polling Unit</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="pendingAgents">
                                        <tr>
                                            <td>01</td>
                                            <td>PU-1234567890</td>
                                            <td>Ken Kenneth</td>
                                            <td>Ken@gmail.com</td>
                                            <td>Male</td>
                                            <td>Polling Unit 02</td>

                                            <td class="dropdown">
                                                <span class="" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                                </span>

                                                <ul class="dropdown-menu position-absolute end-0"
                                                    aria-labelledby="dropdownMenuButton1">
                                                    <li><a class="dropdown-item" data-bs-toggle="modal"
                                                            data-bs-target="#pendingAgentDetailsModal" href="#">View</a></li>
                                                    <li><a class="dropdown-item approve" href="#">Approve</a></li>
                                                    <li><a class="dropdown-item reject text-danger" href="#">Reject</a>
                                                    </li>
                                                </ul>

                                            </td>
                                        </tr>

                                    </tbody>

                                </table>

                            </div>

                            <!-- Table Pagination -->
                            <nav aria-label="Page navigation example" class="mt-3 px-3">
                                <ul class="pagination">
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                                            <span aria-hidden="true">«</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0);">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);" aria-label="Next">
                                            <span aria-hidden="true">»</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <!-- Approved PU Agents List Table Section -->
                <div class="row clearfix mt-5">
                    <div class="col-12 col-sm-12">
                        <div class="card">

                            <div class="header d-flex justify-content-between align-items-center gap-3 flex-wrap">
                                <h2 class="fw-bold text-nowrap">Approved PU Agents</h2>
                                <span class="d-flex flex-nowrap gap-1 align-items-center">
                                    <span>Total:</span>
                                    <strong class="border px-3 py-1">1</strong>
                                </span>
                                <form id="table-searchbar2" class="navbar-form search-form d-flex">
                                    <input value class="form-control" placeholder="Search name..." type="text" />
                                    <button type="button" class="btn btn-default search-btn">
                                        <i class="icon-magnifier"></i>
                                    </button>
                                </form>
                            </div>

                            <div class="table-responsive table1">

                                <table class="table table-custom spacing5 mb-0 px-3">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>ID No</th>
                                            <th>Full Name</th>
                                            <th>Email Address</th>
                                            <th>Polling Unit</th>
                                            <th>Status</th>
                                            <th>Role</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="approvedAgents">
                                        <tr>
                                            <td>01</td>
                                            <td>PU-1234567890</td>
                                            <td>Ken Kenneth</td>
                                            <td>Ken@gmail.com</td>
                                            <td>Polling Unit 02</td>
                                            <td>Active</td>
                                            <td>PU Agent</td>

                                            <td class="dropdown">
                                                <span class="" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                                </span>

                                                <ul class="dropdown-menu position-absolute end-0"
                                                    aria-labelledby="dropdownMenuButton1">
                                                    <li><a class="dropdown-item" data-bs-toggle="modal"
                                                            data-bs-target="#memberDetailsModal" href="#">View</a></li>
                                                    <li><a class="dropdown-item suspend text-warning"
                                                            href="#">Suspend</a></li>
                                                    <li><a class="dropdown-item remove text-danger" href="#">Remove</a>
                                                    </li>
                                                </ul>

                                            </td>
                                        </tr>

                                    </tbody>

                                </table>

                            </div>

                            <!-- Table Pagination -->
                            <nav aria-label="Page navigation example" class="mt-3 px-3">
                                <ul class="pagination">
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                                            <span aria-hidden="true">«</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0);">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);" aria-label="Next">
                                            <span aria-hidden="true">»</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Add New PU Agent Modal -->
            <div class="modal fade" id="addAgentModal" tabindex="-1" aria-labelledby="addAgentModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addAgentModalLabel">Add New Agent</h5>
                            <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Add Agent Form -->
                            <form action="#" method="post">
                                <div class="mb-3">
                                    <label for="IDNo" class="form-label">ID No</label>
                                    <input type="text" class="form-control" id="IDNo" name="IDNo"
                                        placeholder="Enter Member's ID No">
                                </div>
                                <div class="mb-3">
                                    <label for="fullName" class="form-label">Full Name</label>
                                    <input type="text" class="form-control" id="fullName" name="fullName"
                                        placeholder="Enter Full Name">
                                </div>
                                
                                <div class="mb-3">
                                    <label for="pollingUnit" class="form-label">Polling Unit</label>
                                    <select class="form-select" id="pollingUnit" name="pollingUnit">
                                        <option value="pu1">Polling Unit 1</option>

                                        <option value="pu2">Polling Unit 2</option>

                                        <option value="pu3">Polling Unit 3</option>

                                    </select>
                                </div>

                                <button type="submit" class="btn w-100">Add PU Agents</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Member Details Modal for Approved PU Agents -->
            <div class="modal fade" id="memberDetailsModal" tabindex="-1" aria-labelledby="memberDetailsModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-container">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="memberDetailsModalLabel">Member Profile</h5>
                            <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-0">

                            <!-- Member Details Section -->
                            <div
                                class="row member-details d-flex flex-row gap-0 justify-content-between align-items-center rounded-4">
                                <div class="col-sm-3 member-profile">
                                    <img src="https://res.cloudinary.com/dmhuollsd/image/upload/v1745528789/youngman_svnkiz.png"
                                        alt="Member Profile Image" class="img-fluid member-image object-fit-cover rounded-4 mb-4">
                            
                                </div>
                                <div class="col-sm-9 text-right-sec">
                            
                                    <div class="top-sec d-flex gap-2 justify-content-between align-items-center mb-3 flex-wrap">
                                        <h5 class="member-name fw-bold mb-0 text-nowrap">John Timothy Doe</h5>
                                        <p class="d-flex align-items-center mb-0">Status: <span
                                                class="ms-2 badge rounded-5 fw-medium bg-success-subtle text-dark px-3 py-2 border-0">Active</span></p>
                                    </div>
                            
                                    <div class="member-info">
                                        <div>
                                            <p class="member-id"><span class="fw-bold">ID No:</span> PU-123456789</p>
                                            <p class="member-email"><span class="fw-bold">Email:</span> 1tH0R@example.com</p>
                                            <p class="member-phone"><span class="fw-bold">Phone:</span> +1234567890</p>
                                            <p class="member-gender"><span class="fw-bold">Gender:</span> Male</p>
                                            <p class="member-dob"><span class="fw-bold">DOB:</span> 1990-01-01</p>
                                        </div>
                            
                                        <div>
                                            <p class="member-role"><span class="fw-bold">Role:</span> Member</p>
                                            <p class="member-state"><span class="fw-bold">State:</span> Adamawa</p>
                                            <p class="member-lga"><span class="fw-bold">L.G.A:</span> Adamawa North</p>
                                            <p class="member-ward"><span class="fw-bold">Ward:</span> Ward 1</p>
                                            <p class="member-ward"><span class="fw-bold">P Unit:</span> Polling Unit 1</p>
                                        </div>
                                    </div>
                            
                                    <div class="sec-btns d-flex flex-row gap-3 mt-2 flex-wrap">
                                        <button type="button" class="btn bg-primary-subtle text-primary fw-medium">
                                            <span class="me-1">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </span> Edit
                                        </button>
                                        <button type="button" class="btn bg-secondary-subtle text-secondary fw-medium">
                                            <span class="me-1">
                                                <i class="fa-regular fa-envelope"></i>
                                            </span> Send Mail
                                        </button>
                                        <button type="button" class="btn bg-warning-subtle text-dark fw-medium">
                                            <span class="me-1">
                                                <i class="fa-solid fa-strikethrough"></i>
                                            </span> Suspend
                                        </button>
                                        <button type="button" class="btn bg-danger-subtle text-danger fw-medium">
                                            <span class="me-1">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </span> Delete
                                        </button>
                                    </div>
                            
                                </div>
                            
                            </div>
                            <!-- Member Details Section End -->

                        </div>
                    </div>
                </div>
            </div>

            <!-- Member Details Modal for Pending PU Agents -->
            <div class="modal fade" id="pendingAgentDetailsModal" tabindex="-1" aria-labelledby="pendingAgentDetailsModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-container">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="pendingAgentDetailsModalLabel">Member Profile</h5>
                            <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-0">

                            <!-- Member Details Section -->
                            <div
                                class="row member-details d-flex flex-row gap-0 justify-content-between align-items-center rounded-4">
                                <div class="col-sm-3 member-profile">
                                    <img src="https://res.cloudinary.com/dmhuollsd/image/upload/v1745528789/youngman_svnkiz.png"
                                        alt="Member Profile Image" class="img-fluid member-image object-fit-cover rounded-4 mb-4">
                            
                                </div>
                                <div class="col-sm-9 text-right-sec">
                            
                                    <div class="top-sec d-flex gap-2 justify-content-between align-items-center mb-3 flex-wrap">
                                        <h5 class="member-name fw-bold mb-0 text-nowrap">John Timothy Doe</h5>
                                        <p class="d-flex align-items-center mb-0">Status: <span
                                                class="ms-2 badge rounded-5 fw-medium bg-success-subtle text-dark px-3 py-2 border-0">Active</span></p>
                                    </div>
                            
                                    <div class="member-info">
                                        <div>
                                            <p class="member-id"><span class="fw-bold">ID No:</span> PU-123456789</p>
                                            <p class="member-email"><span class="fw-bold">Email:</span> 1tH0R@example.com</p>
                                            <p class="member-phone"><span class="fw-bold">Phone:</span> +1234567890</p>
                                            <p class="member-gender"><span class="fw-bold">Gender:</span> Male</p>
                                            <p class="member-dob"><span class="fw-bold">DOB:</span> 1990-01-01</p>
                                        </div>
                            
                                        <div>
                                            <p class="member-role"><span class="fw-bold">Role:</span> Member</p>
                                            <p class="member-state"><span class="fw-bold">State:</span> Adamawa</p>
                                            <p class="member-lga"><span class="fw-bold">L.G.A:</span> Adamawa North</p>
                                            <p class="member-ward"><span class="fw-bold">Ward:</span> Ward 1</p>
                                            <p class="member-ward"><span class="fw-bold">P Unit:</span> Polling Unit 1</p>
                                        </div>
                                    </div>
                            
                                    <div class="sec-btns d-flex flex-row gap-3 mt-2 flex-wrap">
                                        <button type="button" class="btn bg-secondary-subtle text-secondary fw-medium">
                                            <span class="me-1">
                                                <i class="fa-regular fa-envelope"></i>
                                            </span> Send Mail
                                        </button>
                                        <button type="button" class="btn bg-success-subtle text-success fw-medium">
                                            <span class="me-1">
                                                <i class="fa-regular fa-circle-check"></i>
                                            </span> Approve
                                        </button>
                                        <button type="button" class="btn bg-danger-subtle text-danger fw-medium">
                                            <span class="me-1">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </span> Delete
                                        </button>
                                    </div>
                            
                                </div>
                            
                            </div>
                            <!-- Member Details Section End -->

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock content %}








    {% comment %} <script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../light/assets/bundles/vendorscripts.bundle.js"></script>
    <script src="../light/assets/bundles/c3.bundle.js"></script>
    <script src="../light/assets/bundles/flotscripts.bundle.js"></script>
    <script src="../light/assets/bundles/knob.bundle.js"></script>
    <script src="../light/assets/js/common.js"></script>
    <script src="../light/assets/js/index.js"></script>
    <script src="../Dashboard-ward/JS/members.js"></script>
    <!-- <script src="../Dashboard-ward/JS/dashboard.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        (function () {
            function c() {
                var b = a.contentDocument || a.contentWindow.document;
                if (b) {
                    var d = b.createElement('script');
                    d.innerHTML =
                        "window.__CF$cv$params={r:'899721ba1ab86ec1',t:'MTcxOTM0MTMwNS4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='../../../cdn-cgi/challenge-platform/h/b/scripts/jsd/c7e29c8c8b6e/main.js';document.getElementsByTagName('head')[0].appendChild(a);";
                    b.getElementsByTagName('head')[0].appendChild(d);
                }
            }
            if (document.body) {
                var a = document.createElement('iframe');
                a.height = 1;
                a.width = 1;
                a.style.position = 'absolute';
                a.style.top = 0;
                a.style.left = 0;
                a.style.border = 'none';
                a.style.visibility = 'hidden';
                document.body.appendChild(a);
                if ('loading' !== document.readyState) c();
                else if (window.addEventListener)
                    document.addEventListener('DOMContentLoaded', c);
                else {
                    var e = document.onreadystatechange || function () { };
                    document.onreadystatechange = function (b) {
                        e(b);
                        'loading' !== document.readyState &&
                            ((document.onreadystatechange = e), c());
                    };
                }
            }
        })();

    </script>
</body>

</html> {% endcomment %}
